<form [formGroup]="orderForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Order Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-label>Color</mat-label>
          <mat-form-field class="full-width">
            <mat-select placeholder="Color" formControlName="color">
              <mat-option *ngFor="let color of colors" [value]="color">
                {{ color }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.controls['color'].hasError('required')">
              Color is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-label>Size</mat-label>
          <mat-form-field class="full-width">
            <mat-select placeholder="Size" formControlName="size">
              <mat-option *ngFor="let size of sizes" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="orderForm.controls['size'].hasError('required')">
              Size is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label>Quantity</mat-label>
          <mat-form-field class="full-width">
            <input matInput placeholder="Quantity" formControlName="quantity" />
            <mat-error
              *ngIf="orderForm.controls['quantity'].hasError('required')"
            >
              Quantity is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-label>Provider</mat-label>
          <mat-form-field class="full-width">
            <mat-select placeholder="Provider" formControlName="provider">
              <mat-option *ngFor="let provider of providers" [value]="provider">
                {{ provider }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="orderForm.controls['provider'].hasError('required')"
            >
              Provider is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-label>Country</mat-label>
          <mat-form-field class="full-width">
            <mat-select placeholder="Country" formControlName="country">
              <mat-option
                *ngFor="let country of countries"
                [value]="country.name"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="orderForm.controls['country'].hasError('required')"
            >
              Country is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-label>Destination Country</mat-label>
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Destination Country"
              formControlName="destinationCountry"
            >
              <mat-option
                *ngFor="let country of countries"
                [value]="country.name"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                orderForm.controls['destinationCountry'].hasError('required')
              "
            >
              Destination Country is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Shipping Mode</mat-label>
            <mat-select
              placeholder="Shipping Mode"
              formControlName="shippingMode"
            >
              <mat-option
                *ngFor="let shippingMode of shippingModes"
                [value]="shippingMode"
              >
                {{ shippingMode }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="orderForm.controls['shippingMode'].hasError('required')"
            >
              Shipping Mode is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: flex-end">
      <button mat-raised-button color="primary" type="submit">Sell</button>
    </mat-card-actions>
    <br />
  </mat-card>
</form>
